*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,html{
 overflow-x: hidden !important;
}

:root{
	--background-dark: #2C003E;
	--background-light: #4B006E;
/*	--background-light: #2B2B2B;*/

	--text-grey: #1C1C1C ;
	--text-charcole: #1C1C1C ;
  --paragraph-color: #EDEDED ;
  --heading : #FF8C00;
  --subheading : #1e293b;
  --box-shadow : 0 2px 8px rgba(44, 0, 62, 0.7);
  --background-gredient: linear-gradient(135deg, #1e293b, #3b4d63, #2c3a50);
  ---dark-color : #0f172a;
  --light-color : #f1f5f9;
  --btn-color-yellow: #DE9E30;
  --btn-color-green: #2B3A26;

}




.navbar .nav-link {
    font-size: 18px;
    padding: 12px 0;
    color: var(--light-color);
    font-weight: 600;
}
.nav-link:hover{
  color: #fbbf24;
}
.navbar-brand {
    width: 115px;
    /* height: 100px; */
}

.navbar-brand img{
  width: 100%;
  height: 100%;
}
.navbar {
  background: linear-gradient(135deg, #0f172a, #1e293b); /* Deep navy */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.hero {
  min-height: 100vh;
  background: linear-gradient(180deg, #1e293b, #3b4d63, #2c3a50);
  color: #f1f5f9;
  padding: 120px 20px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}


.hero p{
	font-size: 20px !important;
  color: var(--light-color);
}
.hero h1 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    font-size: 3.5rem;
    /* color: #FFFFFF !important; */
    color: var(--light-color);
}
.hero-icon svg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 35%;
  height: 70%;
  pointer-events: none;
}
.business{
	color: #2F2F2F;
	padding: 70px 0;
}
.business h2{
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: var(---dark-color);
}
.business .card{
	padding: 20px;
	box-shadow: var(--box-shadow);
}
.business .card h5{
  color: var(--subheading);
}
.business .card:hover{
	transform: scale(1.03);
	box-shadow: var(--box-shadow);
}
.digital{
	padding: 70px 0;
	background-color: var(--background-light);
	color: white;
}
.digital .card {
  width: 23%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px !important;
  color: var(--text-grey);
}
.digital .card svg{
  width: 35%;
}

.pricing{
  padding: 70px 0;
}
.pricing h2{
  color: var(---dark-color);
}
.note {
    max-width: 750px;
    margin: 40px auto;
    font-style: italic;
    color: var(---dark-color);
    text-align: center;
    font-size: 18px;
}
.membership-cards .card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.membership-cards .card .card-title {
    color: var(---dark-color);
}
.membership-cards .card h3,.membership-cards .card h2 {
    color: var(---dark-color);
}
.membership-cards .card b {
    color: var(---dark-color);
}
.membership-cards .card ul li {
    padding: 5px 0;
    border-bottom: 1px solid var(--background-light);
    list-style: none;
    font-weight: bold;
}

.membership-cards .card:hover{
	transform: scale(1.03);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.organization{
	background-image: var(--background-gredient);
	padding: 70px 0;
	color: var(--light-color);
}
.player{
/*	height: 500px;*/
	width: auto;
	margin: auto;
	display: block;
  border-radius: 20px;

}
#faq h2{
  color: var(---dark-color);
}
#faq h4{
  color: var(---dark-color);
}

.accordion-item {
/*  background: transparent !important;*/
  border: none;
}

.accordion-button {
/*  background: transparent !important;*/
  color: var(---dark-color);
  border: 1px solid var(--background-dark);
  font-size: 20px;

}

.accordion-button:not(.collapsed) {
  background-image: var(--background-gredient);
  color: #fff;
  font-size: 20px;

}

.accordion-body {
    background-color: rgba(255, 255, 255, 0.1);
    /* color: white; */
    border: 1px solid #872341;
    font-size: 16px;
    font-weight: 500;
    color: var(---dark-color);
}
.accordion-button::after {

     height: 0; 
}
.accordion-button::after {
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg fill="purple" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 15.59 12 11.00l4.59 4.59L18 14.17 12 8.17 6 14.17z"/></svg>') !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: auto;
  transform: rotate(180deg); 
  transition: transform 0.3s;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 15.59 12 11.00l4.59 4.59L18 14.17 12 8.17 6 14.17z"/></svg>') !important;
  transform: rotate(0deg);
}

.slider{
/*	background-image: var(--background-gredient);*/
	padding: 80px 0;
}
#gallery {
    margin: 1rem;
    margin-top: 4rem;
}
#gallery img{
    margin: .2rem;
  }
#gallery .slick-slide {
  margin: 0 130px;
}

#gallery .slick-list {
  margin: 0 -130px;
}

#gallery1 .slick-slide {
  margin: 0 120px;
}
.slick-slide img {
    display: block;
    border: 1px solid #7B2CBF;
}

#gallery1 .slick-list {
  margin: 0 -120px;
}
.slide img, .slide a {
    width: 230px;
    height: 150px;
    border-radius: 15px;
}
.gift svg{
  margin: 0 auto;
}
.packages{
  padding: 80px 0;
}
.packages .text{
  color: var(---dark-color);
  font-size: 18px;
  margin-bottom: 50px;
}
.sports{
  background: var(--background-gredient);
  padding: 80px 0;
}
.sports h2,.sports p{
  color: var(--light-color);
}
.sports p{
  font-size: 18px;
}
.ambasdor{
  background-color: var(--background-light);
  padding: 40px;
}
.ambasdor img{
  width: 300px;
  height: 470px;
}
.ambasdor h1{
  color: var(--paragraph-color);
}
.ambasdor p{
  font-size: 18px;
  font-weight: 500;
  color: var(--paragraph-color);
}
.privacy{
  padding: 80px 0;
}
.privacy .card{
  text-align: center;
  border: 1px solid var(--background-light);
}
.privacy .card h3{
  color: var(--background-light);
}
.privacy .card svg{
  width: 40%;
  margin: 15px auto;
}
.powered{
  text-align: center;
}
.powered h3,.powered h1{
  color: var(---dark-color);
}
.powered p{
  font-size: 18px;
  color: var(---dark-color) !important;
}
.powered .btn-hover-blue{
  background-color: var(--background-charcole);
  color: white;
  width: fit-content;
}
.btn-hover-purple{
  width: fit-content;
  height: 40px; 
  color: var(--btn-color-green);
  background-color: var(--btn-color-yellow);
  border: 1px solid #003f5c;
  position: relative;
  z-index: 1;
  font-weight: 600;
}
.btn-hover-purple::before{
  content: '';
    height: 0%;
    width: 100%;
    background-color: var(--btn-color-green);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border-radius: 6px;
    transition: all ease .3s;
}


.btn-hover-purple:hover:before{
    height: 100%;
}
.btn-hover-purple:hover{
  color: var(--btn-color-yellow);
}

.powered ul li{
  background-color: white;
  padding: 15px 0 15px 30px;
  margin-bottom: 15px;
  border-radius: 4px;
  border-left: 5px solid var(---dark-color);
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#detailsSection{
  background: var(--background-gredient);
  padding: 80px 0;
  color: var(--light-color);
}
.platform{
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}
.platform img{
  border-radius: 20px;
  margin-bottom: 15px;
}
.platform h3{
  font-size: 1.6rem;
  color: #FFFFFF;
}
.end{
   background: var(--background-gredient);
  color: var(--light-color);
  padding: 120px 20px 80px;
}
.intro p,.end p{
  font-size: 17px;
/*  color: #9B5DE5;*/
}
.intro p{
  color: var(---dark-color);
}
.intro h2{
    color: var(---dark-color);
}
.end  a {
 color: var(--btn-color-yellow);
 text-decoration: none;
 margin-bottom: 15px;
 display: inline-block;
}
.end a:hover{
  text-decoration: underline;
}
#profit{
  margin-top: 200px;
}
.Sports_images img,.non-profit img{
  height: 235px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}
.Sports_images,.non-profit{
 background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #FFFFFF;
 padding: 20px;
 border-radius: 20px;
}
.power{
 background: var(--background-gredient);
  color: var(--light-color);
  padding: 80px 0; 
}
.element {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.element .btn {
    border-radius: 8px 0 0 8px;
}
.element button {
    writing-mode: vertical-rl;
    width: fit-content;
    height: 200px;
    font-weight: bold;
    font-size: 20px;
    background-color: #E5EAF5;
    padding: 50px 20px;
    border: none;
    color: black;
}

.element .btn.active {
    background-color: #FFF;
    border-radius: 8px 0 0 8px;
    color: black;
}
.element .btn.active:hover{
    background-color: #FFF;
    border-radius: 8px 0 0 8px;
    color: black;
}
.element .btn.active:focus{
    background-color: #FFF;
    border-radius: 8px 0 0 8px;
    color: black;
}

.element .btn:hover{
    background-color: #E5EAF5;
    color: black;
}
.element .btn:focus{
    background-color: #E5EAF5;
    color: black;
}
.tab-content {
    width: 80%;
    border-radius: 20px!important;
    background-color: #Fff !important;
    color: black;
}
.login, .register {
    padding: 60px 20px;
}
.form-label sup {
    font-size: 27px;
}
.form-label span {
  color: #E87C86;
}
footer{
  background: var(--background-gredient);
  color: var(--light-color);
  padding: 30px 0;
  text-align: center;
}
.tribe p{
  color: var(---dark-color);
  font-size: 18px;
}
.power .btn-light,.power .submit{
  background-color: var(--btn-color-yellow) !important;
}
.com-back{
/*  background: var(--background-gredient);*/
}
.com-back img{
  width: auto;
  height: 650px;
  margin: 0 auto;
  display: block;
}
.organ-img{
/*  background-color: var(--background-light);*/
  padding: 30px;
}
.organ-img img {
    width: auto;
    height: 550px;
    margin: 0 auto;
    display: block;
}


.section {
  padding: 80px 20px;
  text-align: center;
}

.light {
  background-color: #ffffff;
  color: var(---dark-color);
}

.dark {
  background: var(--background-gredient);
  color: var(--light-color);
}
.section.dark .cards{
   width: 80%;
   margin: auto;
}
.section.dark .cards .card{
   background-color: rgba(255, 255, 255, 0.1);
   padding: 20px;
   border-radius: 15px;
   color: white;
   gap: 12px;
   width: 23%;
   height: 170px;
}
.section.dark .cards .card svg{
  fill: rgba(255, 255, 255, 0.9);
  width: 30%;
  margin: 0 auto;
}
 .section .content {
  max-width: 1000px;
  margin: 0 auto;
}

.section .content .icon {
  font-size: 48px;
  margin-bottom: 20px;
  color: inherit;
}

.light .content h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #1F0034;

}

.content p {
  font-size: 18px;
}

.light  .content p {
  font-size: 18px;
  margin-bottom: 16px;
  color: var(---dark-color);
}

.section .content strong {
  font-weight: 600;
  font-size: 18px;
}
.resident{
  padding-top: 100px;
}
.tribe{
  padding: 25px;
}
.welcome ul li{
  padding: 15px 10px 15px 20px;
  background-color: white;
  list-style: none;
  margin-bottom: 15px;
  border-radius: 4px;
  border-left: 5px solid var(---dark-color);
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);

}
.resident .tribe h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #1F0034;

}
.owner .tribe h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: var(---dark-color);

}

.resident  .tribe p {
  font-size: 18px;
  margin-bottom: 16px;
  color: var(---dark-color);
}

.owner .tribe strong {
  font-weight: 600;
  font-size: 18px;
}

.org-body h2{
  font-size: 2.2rem;
}
.org-body p strong{
  font-size: 18px;
}

.pledge{
  background: var(--background-gredient);
}
.child{
  color: var(--light-color);

}
.child p{
 font-size: 18px;
}
.child.right {
    color: var(--light-color);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 40px 20px;
    border-radius: 20px;
}
.child.right ul li{
  text-align: left;
  font-weight: 600;
  padding: 8px 0;
  border-bottom: 1px solid white;
}
.line{
  width: 100%;
  height: 1px;
  background-color: var(--light-color);
  opacity: 0.3;
}
.corporation{
  padding: 25px;
}
.corporation-img{
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.corporation img{
  width: 100%;
/*  height: 500px;*/
  margin-top: 15px;
}
.steven{
  background: var(--background-gredient);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.works {
    padding: 80px 0;
    color: var(---dark-color);
}
.works .comp {
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.benefit{
  padding: 20px;
  border: none!important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
.benefit ul li{
  list-style: none;
  text-align: left;
  padding: 8px 0;
  border-bottom: 1px solid var(--background-light);
}
.hub .border svg{
  fill: var(--light-color);
}
.hub .border h5{
  color: var(--light-color);
}

.select-btn {
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 10;
  height: fit-content !important;
}
@media screen and (max-width:992px) {
 .digital .card h5 {
    font-size: 15px;
}
.digital .card svg {
    width: 50%;
}
.digital .card {
   height: 140px;
}
}
@media screen and (max-width: 768px){

    #gallery .slick-slide {
  margin: 20px;
}

#gallery .slick-list {
  margin: -20px ;
}
#gallery1 .slick-slide {
  margin: 20px;
}

#gallery1 .slick-list {
  margin: -20px;
}
.revolution_images img,.non-profit img{
  height: auto;
}
.digital .card {
   width: 46%;
   margin-bottom: 15px;
}
.player {
    height: auto;
}
.ambasdor .p-5{
  padding: 0 !important;
}
.hero h1 {
    font-size: 2rem;
}
.hero p {
    font-size: 16px !important;
}
.navbar-toggler {
    border: 1px solid white;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.football-img{
width: 55%;
height: 70%;
}
.com-back img {
    height: auto;
}
.org-body h2 {
    font-size: 1.5rem;
}
.org-body h5 {
    font-size: 1rem;
}
.ambasdor {
    width: 95%;
}
.organ-img img {
    height: auto;
}
.corporation{
  padding: 10px;
}
.corporation img{
  height: auto;
}
.section.dark .cards{
   width: 100%;
   flex-wrap: wrap;
}
.section.dark .cards .card{
   width: 46%;
   height: auto;
   margin-bottom: 15px;
}
.section.dark .cards .card svg{
  width: 20%;
}
}
@media screen and (max-width:500px) {
  .football-img{
  width: 80%;
  height: 70%;
  }
  .section.dark .cards .card{
   width: 48%;
   height: 170px;
}
.section.dark .cards .card svg{
  width: 30%;
}
}
@media screen and (max-width:400px) {
  .football-img{
  width: 100%;
  height: 70%;
  }
  .section.dark .cards .card{
   height: 150px;
}
.section.dark .cards .card p{
  font-size: 16px;
}
.section.dark .cards .card svg{
  width: 30%;
}
}

.bbody{
    height: 100vh !important;
    display: flex !important
;
    align-items: center !important;
    justify-content: center !important;
}

.cardSelect{
  border: 3px solid #007bff;
  box-shadow: 0 0 15px rgba(18, 41, 216, 0.7);

}
