<div style="position:relative; z-index: 100; width: 100%;  overflow: hidden; padding: 0; margin: 0;">
	<nav class="navbar navbar-expand-md " style="position: fixed; width: 100%; top:0; overflow: hidden; padding: 0; margin: 0;">
  <div class="container">
    <a class="navbar-brand " href="#"><img class="img-fluid lozad" src="assets/img/military.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="../home/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../network/">Network</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href=""> Digital Sports Hub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<!----end navbar--->

<!---HERO SECTION---->
<section id="profit">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-right">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Air_Combat_Command.png" alt="Image">
          <h3 class="text-center">Air Combat Command</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-up">
          <img class="img-fluid lozad" src="assets/img/directory_umages/air_force_military_soldiers.png" alt="image">
          <h3 class="text-center">Air Force Military Soldiers</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-left">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Davis-Monthan_Air_Force_Base.png" alt="Image">
          <h3 class="text-center">Davis Monthan Air Force Base</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-right">
          <img class="img-fluid lozad" src="assets/img/directory_umages/female_dress_blues.png" alt="Image">
          <h3 class="text-center">Female dress blues</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-up">
          <img class="img-fluid lozad" src="assets/img/directory_umages/GAO-Military_women.jpg" alt="Image">
          <h3 class="text-center">GAO Military women</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-left">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Marine_Corps.jpeg" alt="Image">
          <h3 class="text-center">Marine Corps</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-right">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Marines_male_and_female_dress blue_uniforms.png" alt="Image">
          <h3 class="text-center">Marines male & female </h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-up">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Oklahoma Guard, Air Force Conduct Joint MEDEVAC Training.png" alt="Image">
          <h3 class="text-center">Air Force Training</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="non-profit" data-aos="fade-left">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Sneads Ferry woman makes history as first female MEU sergeant major.png" alt="Image">
          <h3 class="text-center">First female MEU sergeant major</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!---END HERO SECTION---->

<!---UMYO Military SECTION---->

<section>
  <div class="resident  pt-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 ps-md-0 mb-5" data-aos="flip-down">
          <div class="membership-cards">
          <div class="tribe mt-md-5 card mb-5" id="tribe">
            <h2 class="fw-bold">Welcome to UMYO Military — Where Athletes Own the Game</h2>
            <p data-aos="fade-up"><b>UMYO Military</b> is a next-generation digital platform built exclusively for athletes of all levels — from high school standouts to pro legends. Designed with sports in mind, UMYO Military provides a secure and empowering space where athletes can train, earn, connect, and grow — with the support of businesses that believe in their future.</p>
            
            <p data-aos="fade-up">This isn’t just about stats and highlights — it’s about ownership, opportunity, and community. Whether you’re a player, coach, content creator, or sports entrepreneur, UMYO Military equips you with the tools to level up your game — on and off the field.</p>
            <p><strong>For just $9.99/month, members get access to:</strong></p>
            <ul class="">
              <li data-aos="fade-up">Athlete-focused livestreaming and exclusive sports content</li>
              <li data-aos="fade-up">Custom e-commerce stores for merch, gear, and digital products</li>
              <li data-aos="fade-up">Secure messaging with fans, brands, and peers</li>
              <li data-aos="fade-up">Weekly prize giveaways, business vouchers, and scholarships</li>
              <li data-aos="fade-up">Athlete marketing tools and monetization features</li>
              <li data-aos="fade-up">A gated community where athletes control their brand and platform</li>
            </ul>
          <div class="haven" id="haven" style="display: none">

            <h3 class="fw-bold my-4" data-aos="fade-up">
              Why UMYO Military?
            </h3>
            <p>Because we believe in investing where it counts — <strong>our athletes</strong>. Each week, we directly support the sports community through:</p>
            <ul class="">
              <li data-aos="fade-up">Cash scholarships for students attending HBCUs and other universities</li>
              <li data-aos="fade-up">Rent, training, and travel support for rising stars</li>
              <li data-aos="fade-up">Gift cards and vouchers for gear from Black-owned and athlete-backed brands</li>
              <li data-aos="fade-up">Free promotion for athlete-owned businesses and creative projects</li>
            </ul>

            <p data-aos="fade-up">
              <strong>Business owners and sponsors</strong> can get involved starting at just <strong>$19.99/month</strong> — with branding, athlete partnerships, and premium promotional packages available during registration.
            </p>

  
            <p>
              Our tech partner, <strong>UMYO Wall Street of Technology</strong>, powers the platform — so athletes can focus on winning, creating, and building their legacy. From livestreams to store sales to mentorship programs, we make it simple to thrive in one trusted place.
            </p>

             <p>
              This is more than a platform — it’s a <strong>movement</strong> for athletic excellence, empowerment, and economic circulation.
              If you're ready to grow your fanbase, monetize your talent, and connect with a powerful network that champions you — <span>UMYO Military</span> is your arena.
            </p>

            <h3 class="fw-bold my-4">
              Call-to-Action Section:
            </h3>

            <p> <b>BJoin UMYO Military for $9.99/month<br>Launch your athlete brand for just $19.99</b></p>
            <p>Gain access to powerful digital tools, exclusive giveaways, and your own branded e-store. Business owners can sponsor athletes or expand visibility through our affordable packages</p>

                <strong>No ads. No algorithms. No middlemen.</strong>
                <p class="lead fs-5"> Just ownership, impact, and unstoppable energy.</p>

                <ul>
                  <li class="fw-bold">Join the Movement</li>
                  <li class="fw-bold">Explore UMYO Military</li>
                  <li class="fw-bold">Fuel the Future of Athletics</li>
                </ul>

            
            <button  id="less" class="btn btn-hover-purple border-dark gap-2 mt-4" data-aos="fade-up">
            Read Less
            </button>
            </div>
            <button  id="more" class="btn btn-hover-purple border-dark gap-2 mt-4">
            Read More
            </button>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---END UMYO Military SECTION---->

<!----POWER SECTION--->
<section  class="power">
       <div class="container-fluid srice py-5">
            <div class="container py-5">
        <h1 class="text-white text-center  mb-3" style="font-weight: 600; ">UMYO Military Members </h1>
        <div class="row">
            <div class="col-lg-5 mt-5">
                <!-- <h4 class="mb-4 text-white">Search For NBA Players Connects Here</h4> -->
                <div class="row">
                    <div class="col-lg-6 mb-4">
                    <input type="name" class="form-control" formcontrolname="selectedName" placeholder="Name">
                    </div>
                    <div class="col-lg-6 mb-4">
                       <select  aria-label="Default select example" formcontrolname="selectedBusiness"  class="form-select">
                      <option  selected="" value="" disabled="">Business Type</option>
                      <option  value="Accountant"> Accountant </option>
                      <option  value="Actor"> Actor </option>
                      <option  value="Actuary"> Actuary </option>
                      <option  value="Administrator"> Administrator </option>
                      <option  value="Agent"> Agent </option>
                      <option  value="Agricultural Worker"> Agricultural Worker </option>
                      <option  value="Air Traffic Controller"> Air Traffic Controller </option>
                      <option  value="Ambulance Officer"> Ambulance Officer </option>
                      <option  value="Architect"> Architect </option>
                      <option  value="Art Director"> Art Director </option>
                      <option  value="Artist"> Artist </option>
                      <option  value="Athlete"> Athlete </option>
                      <option  value="Auditor"> Auditor </option>
                      <option  value="Baker"> Baker </option>
                      <option  value="Barista"> Barista </option>
                      <option  value="Bartender"> Bartender </option>
                      <option  value="Board Member"> Board Member </option>
                      <option  value="Business Analyst"> Business Analyst </option>
                      <option  value="Chef"> Chef </option>
                      <option  value="Childcare Worker"> Childcare Worker </option>
                      <option  value="Civil Servant"> Civil Servant </option>
                      <option  value="Cleaner"> Cleaner </option>
                      <option  value="Company Worker"> Company Worker </option>
                      <option  value="Computer Scientist"> Computer Scientist </option>
                      <option  value="Construction Worker"> Construction Worker </option>
                      <option  value="Cook"> Cook </option><option  value="Copywriter"> Copywriter </option><option  value="Courier"> Courier </option>
                      <option  value="Craftsperson"> Craftsperson </option>
                      <option  value="Curator"> Curator </option>
                      <option  value="Customer Service Representative"> Customer Service Representative </option><option  value="Dentist"> Dentist </option>
                      <option  value="Designer"> Designer </option>
                      <option  value="Doctor"> Doctor </option>
                      <option  value="Driver"> Driver </option>
                      <option  value="Economist"> Economist </option>
                      <option  value="Electrician"> Electrician </option>
                      <option  value="Entrepreneur"> Entrepreneur </option>
                      <option  value="Equipment Operator"> Equipment Operator </option>
                      <option  value="Executive Manager"> Executive Manager </option>
                      <option  value="Farmer"> Farmer </option>
                      <option  value="Film Maker"> Film Maker </option>
                      <option  value="Firefighter"> Firefighter </option>
                      <option  value="Fisherman"> Fisherman </option>
                      <option  value="Fitness Trainer"> Fitness Trainer </option>
                      <option  value="Flight Attendant"> Flight Attendant </option>
                      <option  value="Florist"> Florist </option>
                      <option  value="Freelancer"> Freelancer </option>
                      <option  value="Gardener"> Gardener </option>
                      <option  value="Hair Stylist"> Hair Stylist </option>
                      <option  value="Home Care Aid"> Home Care Aid </option>
                      <option  value="Homemaker"> Homemaker </option>
                      <option  value="Hospitality Worker"> Hospitality Worker </option>
                      <option  value="Housekeeper"> Housekeeper </option>
                      <option  value="Information Technology Professional"> Information Technology Professional </option>
                      <option  value="Investor"> Investor </option>
                      <option  value="Journalist"> Journalist </option>
                      <option  value="Laborer"> Laborer </option>
                      <option  value="Lawyer"> Lawyer </option>
                      <option  value="Librarian"> Librarian </option>
                      <option  value="Maintenance Worker"> Maintenance Worker </option>
                      <option  value="Manager"> Manager </option>
                      <option  value="Manufacturing Worker"> Manufacturing Worker </option>
                      <option  value="Marketing Professional"> Marketing Professional </option>
                      <option  value="Mathematician"> Mathematician </option>
                      <option  value="Mechanic"> Mechanic </option>
                      <option  value="Medical Professional"> Medical Professional </option>
                      <option  value="Merchant"> Merchant </option>
                      <option  value="Midwife"> Midwife </option>
                      <option  value="Military Personnel"> Military Personnel </option>
                      <option  value="Musician"> Musician </option>
                      <option  value="Nanny"> Nanny </option>
                      <option  value="Nurse"> Nurse </option>
                      <option  value="Office Clerk"> Office Clerk </option>
                      <option  value="Office Worker"> Office Worker </option>
                      <option  value="Optician"> Optician </option>
                      <option  value="Performance Artist"> Performance Artist </option>
                      <option  value="Photographer"> Photographer </option>
                      <option  value="Pilot"> Pilot </option>
                      <option  value="Police Officer"> Police Officer </option>
                      <option  value="Politician"> Politician </option>
                      <option  value="Professor"> Professor </option>
                      <option  value="Railroad Engineer"> Railroad Engineer </option>
                      <option  value="Researcher"> Researcher </option>
                      <option  value="Retail Employee"> Retail Employee </option>
                      <option  value="Retiree"> Retiree </option>
                      <option  value="Rigger"> Rigger </option>
                      <option  value="Sailor"> Sailor </option>
                      <option  value="Salesperson"> Salesperson </option>
                      <option  value="Scientist"> Scientist </option>
                      <option  value="Sea Captain"> Sea Captain </option>
                      <option  value="Secretary"> Secretary </option>
                      <option  value="Self-Employed"> Self-Employed </option>
                      <option  value="Small Business Owner"> Small Business Owner </option>
                      <option  value="Social Worker"> Social Worker </option>
                      <option  value="Software Developer"> Software Developer </option>
                      <option  value="Spokesperson"> Spokesperson </option>
                      <option  value="Statistician"> Statistician </option>
                      <option  value="Stay-At-Home Parent"> Stay-At-Home Parent </option>
                      <option  value="Student"> Student </option>
                      <option  value="Surgeon"> Surgeon </option>
                      <option  value="Surveyor"> Surveyor </option>
                      <option  value="Tailor"> Tailor </option>
                      <option  value="Teacher"> Teacher </option>
                      <option  value="Technician"> Technician </option>
                      <option  value="Tradesperson"> Tradesperson </option>
                      <option  value="Trainer"> Trainer </option>
                      <option  value="Translator"> Translator </option>
                      <option  value="Truck Driver"> Truck Driver </option>
                      <option  value="Tutor"> Tutor </option>
                      <option  value="Unemployed"> Unemployed </option>
                      <option  value="Veterinarian"> Veterinarian </option>
                      <option  value="Videographer"> Videographer </option>
                      <option  value="Waiter"> Waiter </option>
                      <option  value="Waste Collector"> Waste Collector </option>
                      <option  value="Writer"> Writer </option>
                      <option  value="Zoologist"> Zoologist </option>
                    </select>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <select class="form-select" aria-label="Default select example" formcontrolname="selectedLocation">
                          <option selected="">Location</option>
                          <option value="0">Business</option>
                          <option value="1">CEO</option>
                          <option value="2">Corporate</option>
                          <option value="3">Corporation</option>
                          <option value="3">Exclusive</option>
                          <option value="3">Founder</option>
                          <option value="3">CFO</option>
                          <option value="3">COO</option>
                          <option value="3">Home Owner</option>
                          <option value="3">Mall</option>
                          <option value="3">Mass</option>
                          <option value="3">Mobile </option>
                          <option value="3">Non Profit</option>
                          <option value="3">Office</option>
                          <option value="3">Online</option>
                          <option value="3">Partners</option>
                          <option value="3">Private</option>
                          <option value="3">Retail and Consultants</option>
                          <option value="3">Community Pledge</option>
                          <option value="3">Store Front</option>
                          <option value="3">Pop Up Shop</option>
                          <option value="3">Vehicle</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-4">
                    <input type="text" class="form-control" placeholder="City" formcontrolname="selectedCity">
                    </div>

                    <div class="col-lg-6 mb-4">
                    <select class="form-select" aria-label="Default select example" formcontrolname="selectedStateType">
                          <option selected="">State</option>
                          <option value="1">Alabama</option>
                          <option value="2">Alaska</option>
                          <option value="3">Arizona</option>
                          <option value="4">Arkansas</option>
                          <option value="5">California</option>
                          <option value="6">Colorado</option>
                          <option value="7">Connecticut</option>
                          <option value="8">Delaware</option>
                          <option value="9">Florida</option>
                          <option value="10">Georgia</option>
                          <option value="10">Hawaii</option>
                          <option value="11">Idaho</option>
                          <option value="12">Illinois</option>
                          <option value="13">Indiana</option>
                          <option value="14">Iowa</option>
                          <option value="15">Kansas</option>
                          <option value="16">Kentucky</option>
                          <option value="17">Louisiana</option>
                          <option value="18">Maine</option>
                          <option value="19">Maryland</option>
                          <option value="20">Massachusetts</option>
                          <option value="21">Michigan</option>
                          <option value="22">Minnesota</option>
                          <option value="23">Mississippi</option>
                          <option value="24">Missouri</option>
                          <option value="25">Montana</option>
                          <option value="26">Nebraska </option>
                          <option value="27">Nevada</option>
                          <option value="28">New Hampshire</option>
                          <option value="29">New Jersey</option>
                          <option value="30">New Mexico</option>
                          <option value="31">New York</option>
                          <option value="32">North Carolina</option>
                          <option value="33">North Dakota</option>
                          <option value="34">Ohio</option>
                          <option value="35">Oklahoma</option>
                          <option value="36">Oregon</option>
                          <option value="37">Pennsylvania</option>
                          <option value="38">Rhode Island</option>
                          <option value="39">South Carolina</option>
                          <option value="40">South Dakota</option>
                          <option value="41">Tennessee</option>
                          <option value="42">Texas</option>
                          <option value="43">Utah</option>
                          <option value="44">Vermont</option>
                          <option value="45">Virginia</option>
                          <option value="46">Washington</option>
                          <option value="47">West Virginia</option>
                          <option value="48">Wisconsin</option>
                          <option value="49">Wyoming</option>
                        </select>
                    </div>

                    <div class="col-lg-6">
                        <h4 class="mb-4 text-white text-center">I Pledge To Report Violent Crimes</h4>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <select class="form-select" aria-label="Default select example" formcontrolname="selectedRace">
                          <option selected="">Race</option>
                          <option value="2">Nubians</option>
                          <option value="1">African</option>
                          <option value="0">Native American</option>
                          <option value="3">Afro-Americans</option>
                          <option value="3">Asian</option>
                          <option value="3">Hispanic</option>
                          <option value="3">European</option>
                          <option value="3">Pacific Isalnder</option>
                          <option value="3">German</option>
                          <option value="3">Middle Eastern</option>
                          <option value="3">Casun</option>
                          <option value="3">Mixed Ethnicity</option>
                          <option value="3">Vietnamese</option>
                          <option value="3">Other</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <select class="form-select" aria-label="Default select example" formcontrolname="selectedGender">
                          <option selected="">Gender</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">Other</option>
                        </select>
                    </div>
    
                    <div class="col-lg-6 mb-4">
                        <button class="btn btn-light text-white fw-semibold py-2 px-5 w-100" style="">Search</button>
                    </div>   
                </div>
                <p class="rounded mb-4  text-white py-2 px-3 my-5 btn-light">Cards</p>
            </div>
            <div class="col-lg-7 mt-5">
             <div class="d-flex position-relative justify-content-center">
              <!-- Nav pills -->
             <div class="element">
                <button                           [class.active]="showLoginTab"
      (click)="checkRoute()" class="btn active">Login</button>
                <button (click)="checkRoute()"
                  [class.active]="!showLoginTab" class="btn">Register</button>
              </div>

              <!-- Tab panes -->
              <div class="tab-content rounded p-4 bg-light">
                
                <!-- Login Tab -->
<div                 [class.active]="showLoginTab" [class.inactive]="!showLoginTab"
 id="login" class="login">
                   <div class="text-center mb-5">
                    <h1>UMYO Military</h1>
                    <p>Register to Connect with Your Community</p>
                  </div>

                  <h2 class=" mb-3" >Login</h2>
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <label class="form-label" style="font-size: 18px; font-weight: 600;">Email <sup class="text-danger ">*</sup></label>
                      <input type="email" id="email" class="form-control" placeholder="Enter your email" formcontrolname="email" required>
                    </div>
                    <div class="col-md-12 mb-4">
                      <label class="form-label" style="font-size: 18px; font-weight: 600;">Password <sup class="text-danger">*</sup></label>
                      <input type="password" id="password" class="form-control" placeholder="Enter your password" formcontrolname="password" required>
                    </div>
                    <a class="text-black" href="https://unpalliance.org/forgot-password">Forgot Password?</a>
                    <div class="form-check ms-3 my-3">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label fw-bold" for="flexCheckDefault">
                        Are you above 13 years old?
                      </label>
                    </div>
                    <div class="text-center">
                      <button class="btn  text-white submit py-3 px-5" disabled>Submit</button>
                    </div>
                  </div>
                </div>

                <!-- Register Tab -->
  <div                 [class.active]="!showLoginTab" [class.inactive]="showLoginTab"
 id="regis" class="register" >                  <form>
                    <div class="text-center mb-5">
                      <h1>UMYO Military</h1>
                    </div>
                    <div class="row text-center mb-5">
                      <div class="col-md-3">
                        <p>Starting at</p>
                        <h1>$9.99</h1>
                        <p>Monthly</p>
                      </div>
                      <div class="col-md-1 d-none d-lg-block">
                        <div style="height: 100%; border-left: 2px solid #ccc;"></div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-start">Includes:</p>
                        <ul class="text-start">
                          <li>40% off all UMYO Military products</li>
                          <li>3 free property listings per agent</li>
                          <li>Free standard CRM integrations</li>
                        </ul>
                      </div>
                    </div>

                    <h2 class=" mb-4">Register</h2>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label class="form-label" style="font-size: 18px;">First Name <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formcontrolname="registerFirstName" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label" style="font-size: 18px;">Last Name <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formcontrolname="registerLastName" required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <label class="form-label" style="font-size: 18px;">Phone Number <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formcontrolname="registerPhone" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label" style="font-size: 18px;">Email <sup class="text-danger">*</sup></label>
                        <input type="email" class="form-control" formcontrolname="registerEmail" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label" style="font-size: 18px;">Confirm Email <sup class="text-danger">*</sup></label>
                        <input type="email" class="form-control" formcontrolname="registerConfirmEmail" required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <label class="form-label" style="font-size: 18px;">Password <sup class="text-danger">*</sup><span>( Length Should be greater than 6 )</span></label>
                        <input type="password" class="form-control" formcontrolname="registerPassword" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label" style="font-size: 18px;">Gender <sup class="text-danger">*</sup></label>
                        <select class="form-select" formcontrolname="registerGenderType" aria-label="Default select example" required>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>

                      <!-- <div class="col-lg-6 mb-4">
                        <label  style="font-size: 20px; font-weight: 600;">Non Profit Organization Types<sup  style="color: red; font-size: 20px;">*</sup></label>
                        <select  aria-label="Default select example" class="form-select">
                          <option  value="" disabled="" selected=""> Please Select </option>
                          <option  value="Charitable Organizations"> Charitable Organizations </option>
                          <option  value="Advocacy Organizations"> Advocacy Organizations </option>
                          <option value="Educational Organizations"> Educational Organizations </option>
                          <option  value="Religious Organizations"> Religious Organizations </option>
                          <option  value="Social Service Organizations"> Social Service Organizations </option>
                          <option  value="Cultural and Arts Organizations"> Cultural and Arts Organizations </option>
                          <option  value="Health and Medical Research Organizations"> Health and Medical Research Organizations </option>
                          <option  value="Environmental Organizations"> Environmental Organizations </option>
                          <option  value="Professional and Trade Associations"> Professional and Trade Associations </option>
                          <option value="Public Charities"> Public Charities </option>
                          <option  value="Private Foundations"> Private Foundations </option>
                          <option  value="Cooperative Nonprofits (Co-ops)"> Cooperative Nonprofits (Co-ops) </option>
                          <option value="International Nonprofits"> International Nonprofits </option>
                          <option value="Volunteer Organizations"> Volunteer Organizations </option>
                          <option  value="Donor-Advised Funds (DAFs)"> Donor-Advised Funds (DAFs) </option>
                          <option  value="Human Rights Organizations"> Human Rights Organizations </option>
                          <option  value="Businesses Supporting Non Profits"> Businesses Supporting Non Profits </option>
                          <option  value="Residents Supporting Non Profits"> Residents Supporting Non Profits </option>
                        </select>
                      </div> -->

                      <div class="col-lg-6 mb-4">
                        <label style="font-size: 20px; font-weight: 600;">Business Type<sup  style="color: red; font-size: 20px;">*</sup></label>
                       <select  aria-label="Default select example" formcontrolname="registerBusiness" class="form-select mt-1">
                      <option  selected="" value="" disabled="">Business Type</option>
                      <option  value="Accountant"> Accountant </option>
                      <option  value="Actor"> Actor </option>
                      <option  value="Actuary"> Actuary </option>
                      <option  value="Administrator"> Administrator </option>
                      <option  value="Agent"> Agent </option>
                      <option  value="Agricultural Worker"> Agricultural Worker </option>
                      <option  value="Air Traffic Controller"> Air Traffic Controller </option>
                      <option  value="Ambulance Officer"> Ambulance Officer </option>
                      <option  value="Architect"> Architect </option>
                      <option  value="Art Director"> Art Director </option>
                      <option  value="Artist"> Artist </option>
                      <option  value="Athlete"> Athlete </option>
                      <option  value="Auditor"> Auditor </option>
                      <option  value="Baker"> Baker </option>
                      <option  value="Barista"> Barista </option>
                      <option  value="Bartender"> Bartender </option>
                      <option  value="Board Member"> Board Member </option>
                      <option  value="Business Analyst"> Business Analyst </option>
                      <option  value="Chef"> Chef </option>
                      <option  value="Childcare Worker"> Childcare Worker </option>
                      <option  value="Civil Servant"> Civil Servant </option>
                      <option  value="Cleaner"> Cleaner </option>
                      <option  value="Company Worker"> Company Worker </option>
                      <option  value="Computer Scientist"> Computer Scientist </option>
                      <option  value="Construction Worker"> Construction Worker </option>
                      <option  value="Cook"> Cook </option><option  value="Copywriter"> Copywriter </option><option  value="Courier"> Courier </option>
                      <option  value="Craftsperson"> Craftsperson </option>
                      <option  value="Curator"> Curator </option>
                      <option  value="Customer Service Representative"> Customer Service Representative </option><option  value="Dentist"> Dentist </option>
                      <option  value="Designer"> Designer </option>
                      <option  value="Doctor"> Doctor </option>
                      <option  value="Driver"> Driver </option>
                      <option  value="Economist"> Economist </option>
                      <option  value="Electrician"> Electrician </option>
                      <option  value="Entrepreneur"> Entrepreneur </option>
                      <option  value="Equipment Operator"> Equipment Operator </option>
                      <option  value="Executive Manager"> Executive Manager </option>
                      <option  value="Farmer"> Farmer </option>
                      <option  value="Film Maker"> Film Maker </option>
                      <option  value="Firefighter"> Firefighter </option>
                      <option  value="Fisherman"> Fisherman </option>
                      <option  value="Fitness Trainer"> Fitness Trainer </option>
                      <option  value="Flight Attendant"> Flight Attendant </option>
                      <option  value="Florist"> Florist </option>
                      <option  value="Freelancer"> Freelancer </option>
                      <option  value="Gardener"> Gardener </option>
                      <option  value="Hair Stylist"> Hair Stylist </option>
                      <option  value="Home Care Aid"> Home Care Aid </option>
                      <option  value="Homemaker"> Homemaker </option>
                      <option  value="Hospitality Worker"> Hospitality Worker </option>
                      <option  value="Housekeeper"> Housekeeper </option>
                      <option  value="Information Technology Professional"> Information Technology Professional </option>
                      <option  value="Investor"> Investor </option>
                      <option  value="Journalist"> Journalist </option>
                      <option  value="Laborer"> Laborer </option>
                      <option  value="Lawyer"> Lawyer </option>
                      <option  value="Librarian"> Librarian </option>
                      <option  value="Maintenance Worker"> Maintenance Worker </option>
                      <option  value="Manager"> Manager </option>
                      <option  value="Manufacturing Worker"> Manufacturing Worker </option>
                      <option  value="Marketing Professional"> Marketing Professional </option>
                      <option  value="Mathematician"> Mathematician </option>
                      <option  value="Mechanic"> Mechanic </option>
                      <option  value="Medical Professional"> Medical Professional </option>
                      <option  value="Merchant"> Merchant </option>
                      <option  value="Midwife"> Midwife </option>
                      <option  value="Military Personnel"> Military Personnel </option>
                      <option  value="Musician"> Musician </option>
                      <option  value="Nanny"> Nanny </option>
                      <option  value="Nurse"> Nurse </option>
                      <option  value="Office Clerk"> Office Clerk </option>
                      <option  value="Office Worker"> Office Worker </option>
                      <option  value="Optician"> Optician </option>
                      <option  value="Performance Artist"> Performance Artist </option>
                      <option  value="Photographer"> Photographer </option>
                      <option  value="Pilot"> Pilot </option>
                      <option  value="Police Officer"> Police Officer </option>
                      <option  value="Politician"> Politician </option>
                      <option  value="Professor"> Professor </option>
                      <option  value="Railroad Engineer"> Railroad Engineer </option>
                      <option  value="Researcher"> Researcher </option>
                      <option  value="Retail Employee"> Retail Employee </option>
                      <option  value="Retiree"> Retiree </option>
                      <option  value="Rigger"> Rigger </option>
                      <option  value="Sailor"> Sailor </option>
                      <option  value="Salesperson"> Salesperson </option>
                      <option  value="Scientist"> Scientist </option>
                      <option  value="Sea Captain"> Sea Captain </option>
                      <option  value="Secretary"> Secretary </option>
                      <option  value="Self-Employed"> Self-Employed </option>
                      <option  value="Small Business Owner"> Small Business Owner </option>
                      <option  value="Social Worker"> Social Worker </option>
                      <option  value="Software Developer"> Software Developer </option>
                      <option  value="Spokesperson"> Spokesperson </option>
                      <option  value="Statistician"> Statistician </option>
                      <option  value="Stay-At-Home Parent"> Stay-At-Home Parent </option>
                      <option  value="Student"> Student </option>
                      <option  value="Surgeon"> Surgeon </option>
                      <option  value="Surveyor"> Surveyor </option>
                      <option  value="Tailor"> Tailor </option>
                      <option  value="Teacher"> Teacher </option>
                      <option  value="Technician"> Technician </option>
                      <option  value="Tradesperson"> Tradesperson </option>
                      <option  value="Trainer"> Trainer </option>
                      <option  value="Translator"> Translator </option>
                      <option  value="Truck Driver"> Truck Driver </option>
                      <option  value="Tutor"> Tutor </option>
                      <option  value="Unemployed"> Unemployed </option>
                      <option  value="Veterinarian"> Veterinarian </option>
                      <option  value="Videographer"> Videographer </option>
                      <option  value="Waiter"> Waiter </option>
                      <option  value="Waste Collector"> Waste Collector </option>
                      <option  value="Writer"> Writer </option>
                      <option  value="Zoologist"> Zoologist </option>
                    </select>
                    </div>

                        <div  class="col-lg-6 mb-4">
                          <label  style="font-size: 20px; font-weight: 600;">Race<sup  style="color: red; font-size: 20px;">*</sup></label>
                          <select  aria-label="Default select example" formcontrolname="registerRaceType" class="form-select">
                            <option  value="" disabled="" selected=""> Please Select </option>
                            <option  value="Nubians"> Nubians </option><option  value="African"> African </option>
                            <option  value="Native American"> Native American </option>
                            <option  value="Afro-Americans"> Afro-Americans </option>
                            <option  value="Asian"> Asian </option>
                            <option  value="Hispanic"> Hispanic </option>
                            <option  value="European"> European </option>
                            <option  value="Pacific Islander"> Pacific Islander </option>
                            <option  value="German"> German </option>
                            <option  value="Middle Eastern"> Middle Eastern </option>
                            <option  value="Casun"> Casun </option>
                            <option  value="Mixed Ethnicity"> Mixed Ethnicity </option>
                            <option  value="Vietnamese"> Vietnamese </option>
                            <option  value="Other"> Other </option>
                          </select>
                        </div>

                        <div  class="col-lg-6 mb-4">
                          <label  style="font-size: 20px; font-weight: 600;">State<sup  style="color: red; font-size: 20px;">*</sup></label>
                          <select  aria-label="Default select example" formcontrolname="registerStateType" class="form-select">
                            <option  value="" disabled="" selected=""> Please Select </option>
                            <option  value="Alabama"> Alabama </option>
                            <option  value="Alaska"> Alaska </option>
                            <option  value="Arizona"> Arizona </option>
                            <option  value="Arkansas"> Arkansas </option>
                            <option  value="California"> California </option>
                            <option  value="Colorado"> Colorado </option>
                            <option  value="Connecticut"> Connecticut </option>
                            <option  value="Delaware"> Delaware </option>
                            <option  value="Florida"> Florida </option>
                            <option  value="Georgia"> Georgia </option>
                            <option  value="Hawaii"> Hawaii </option>
                            <option  value="Idaho"> Idaho </option>
                            <option  value="Illinois"> Illinois </option>
                            <option  value="Indiana"> Indiana </option>
                            <option  value="Iowa"> Iowa </option>
                            <option  value="Kansas"> Kansas </option>
                            <option  value="Kentucky"> Kentucky </option>
                            <option  value="Louisiana"> Louisiana </option>
                            <option  value="Maine"> Maine </option>
                            <option  value="Maryland"> Maryland </option>
                            <option  value="Massachusetts"> Massachusetts </option>
                            <option  value="Michigan"> Michigan </option>
                            <option  value="Minnesota"> Minnesota </option>
                            <option  value="Mississippi"> Mississippi </option>
                            <option  value="Missouri"> Missouri </option>
                            <option  value="Montana"> Montana </option>
                            <option  value="Nebraska"> Nebraska </option>
                            <option  value="Nevada"> Nevada </option>
                            <option  value="New Hampshire"> New Hampshire </option>
                            <option  value="New Jersey"> New Jersey </option>
                            <option  value="New Mexico"> New Mexico </option>
                            <option  value="New York"> New York </option>
                            <option  value="North Carolina"> North Carolina </option>
                            <option  value="North Dakota"> North Dakota </option>
                            <option  value="Ohio"> Ohio </option>
                            <option  value="Oklahoma"> Oklahoma </option>
                            <option  value="Oregon"> Oregon </option>
                            <option  value="Pennsylvania"> Pennsylvania </option>
                            <option  value="Rhode Island"> Rhode Island </option>
                            <option  value="South Carolina"> South Carolina </option>
                            <option  value="South Dakota"> South Dakota </option>
                            <option  value="Tennessee"> Tennessee </option>
                            <option  value="Texas"> Texas </option>
                            <option  value="Utah"> Utah </option>
                            <option  value="Vermont"> Vermont </option><option  value="Virginia"> Virginia </option><option  value="Washington"> Washington </option>
                            <option  value="West Virginia"> West Virginia </option>
                            <option  value="Wisconsin"> Wisconsin </option>
                            <option  value="Wyoming"> Wyoming </option>
                            <option  value="Other"> Other </option>
                          </select>
                        </div>

                        <div  class="col-lg-6 mb-4">
                          <label  style="font-size: 20px; font-weight: 600;">Location<sup  style="color: red; font-size: 20px;">*</sup></label>
                          <select  aria-label="Default select example" formcontrolname="registerLocation" class="form-select ">
                            <option  value="" disabled="" selected=""> Please Select </option>
                            <option  value="Business"> Business </option>
                            <option  value="CEO"> CEO </option><option  value="Corporate"> Corporate </option>
                            <option  value="Corporation"> Corporation </option>
                            <option  value="Exclusive"> Exclusive </option>
                            <option  value="Founder"> Founder </option>
                            <option  value="CFO"> CFO </option>
                            <option  value="COO"> COO </option>
                            <option  value="Home Owner"> Home Owner </option>
                            <option  value="Mall"> Mall </option>
                            <option  value="Mass"> Mass </option>
                            <option  value="Mobile"> Mobile </option>
                            <option  value="Non Profit"> Non Profit </option>
                            <option  value="Office"> Office </option>
                            <option  value="Online"> Online </option>
                            <option  value="Partners"> Partners </option>
                            <option  value="Private"> Private </option>
                            <option  value="Retail and Consultants"> Retail and Consultants </option><option  value="Community Pledge"> Community Pledge </option>
                            <option  value="Store Front"> Store Front </option>
                            <option  value="Pop Up Shop"> Pop Up Shop </option>
                            <option  value="Vehicle"> Vehicle </option>
                          </select>
                        </div>

                        <div  class="col-lg-6 mb-4">
                          <label  style="font-size: 20px; font-weight: 600;">City<sup  style="color: red; font-size: 20px;">*</sup></label>
                          <input  type="text"  required="" class="form-control" formcontrolname="registerCityType"></div>

                      <div class="col-md-12 mb-3">
                        <label class="form-label" style="font-size: 18px;">Enter Referral Code </label>
                        <input type="text" class="form-control" formcontrolname="registerReferralCode" required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-check ms-3 my-3">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label fw-bold" for="flexCheckDefault">
                        Are you above 13 years old?
                      </label>
                    </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="btn  text-white py-3 px-5 submit" disabled>Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
  </div>
     </section>

<!---END POWER SECTION---->


<!---- CARDS SECTION--->
<section id="profit">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="UMYO Sports_images" data-aos="fade-right">
          <img class="img-fluid lozad" src="assets/img/directory_umages/The_Last_Skirt_Mandate_in_Marine_Corps.jpg" alt="Image">
          <h3 class="text-center">The Last Skirt Mandate in Marine Corps</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="UMYO Sports_images" data-aos="fade-up">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Units_need_more_fit,_disciplined_soldiers.png" alt="Image">
          <h3 class="text-center">Units need more fit, disciplined soldiers</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="UMYO Sports_images" data-aos="fade-left">
          <img class="img-fluid lozad" src="assets/img/directory_umages/US_Marine_Corps.png" alt="Image">
          <h3 class="text-center">US Marine Corps</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="UMYO Sports_images" data-aos="fade-right">
          <img class="img-fluid lozad" src="assets/img/directory_umages/Usmc_new_female_dress_blues_new_arrivals.jpg" alt="Image">
          <h3 class="text-center">Usmc new female dress blues new arrivals</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="UMYO Sports_images  " data-aos="fade-up" >
          <img class="img-fluid lozad w-auto mx-auto d-block" src="assets/img/directory_umages/U.S_Marine_Corps.jpg" alt="Image">
          <h3 class="text-center">U.S Marine Corps</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="UMYO Sports_images  " data-aos="fade-left" style="width: fit-content;">
          <img class="img-fluid lozad w-auto mx-auto d-block" src="assets/img/directory_umages/first_female_Marine_Corps.jpg" alt="Image">
          <h3 class="text-center">First female Marine Corps</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!----END CARDS SECTION--->

<footer>
  <div class="container">
    <h3>Own Your Platform. Build Your Future. Join the UMYO Military.</h3>
    <h6>A gated digital community created for us — where culture thrives, wealth circulates, and power is shared.</h6>
  </div>
</footer>
