.nav-item{
    align-items: center;
    display: flex
;
    justify-content: center;
}


.navbar-nav{
    align-items: center;
    display: flex
;
    justify-content: center;
}

.register{
    display: none;
}
/* .login{
    display: none;
} */

.active{
  display: block !important;
}

.inactive{
    display: none !important;
}